<a href="https://colab.research.google.com/github/hafizmuhammadyahya123/Python/blob/main/pythonpracticeSMIT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#print()

In [ ]:
print("hello","world")

hello world

In [ ]:
print("hello world")

hello world

#VARIABLES FOR STRINGS

In [ ]:
name = "IMRAN"
name

'IMRAN'

In [ ]:
name = "IMRAN"
print(name)

IMRAN

In [ ]:
my_name,age,gender = "UMAR",22,"MALE"
print(gender)

MALE

In [ ]:
f_name = "IMTIAZ"
l_name = "ALI"
full_name = f_name + l_name
print(full_name)

IMTIAZALI

In [ ]:
# snake case var or multi word var
stu_name,stu_id,stu_gender = "ALI",1000101,"MALE"
print("NAME:",stu_name,"\n ID:",stu_id,"\n Stu_Gender:",stu_gender)

NAME: ALI
 ID: 1000101
 Stu_Gender: MALE

In [ ]:
int_convert_str = "100"
print(int_convert_str)
type(int_convert_str)

100

str

In [ ]:
int_convert_str_but_show_the_data_type_int = int("1001")
print(type(int_convert_str_but_show_the_data_type_int))

<class 'int'>

In [ ]:
# as a data type variable name allowed
str = "string"
print(str)

string

#VARIABLES FOR int

In [ ]:
# as a data type variable name allowed
int = 1001
print(int)

1001

In [ ]:
weight = 50
new_weight = weight + 29
print(new_weight)

79

In [ ]:
weight = 80
weight + 2
print(weight)

80

In [ ]:
old_weight = 50
gain_weight = 5
new_weight = old_weight + gain_weight
print(new_weight)

55

In [ ]:
# ERROR Wronge
old_weight = '70'
after_weight_gain = 10
new_weight = old_weight + after_weight_gain  # ERROR
print(new_weight)

TypeError: can only concatenate str (not "int") to str

In [ ]:
old_weight = '70'
after_weight_gain = '10'
new_weight = old_weight + after_weight_gain #concatenate
print(new_weight)

In [ ]:
weight_1 = '80' #legal var name
weight_2 = '10' #legal var name
weight = weight_1 + weight_2
print(weight)

8010

In [ ]:
1_weight = '80' #illegal var name
2_weight = '10' #illegal var name
weight = 1_weight + 2_weight
print(weight)

SyntaxError: invalid decimal literal (ipython-input-368802126.py, line 1)

In [ ]:
1_weight = '80' #illegal var name
2_weight = '10' #illegal var name
weight = 1_weight + 2_weight
print(weight)

In [ ]:
_weight = '80' #legal var name
_weight = '10' #legal var name
weight = _weight + _weight
print(weight)

In [ ]:
_1 = '80' #legal var name
_1 = '10' #legal var name
weight = _1 + _1
print(weight)

1010

#MATH EXPRESIONS : FAMILIAR OPERATORS

In [ ]:
Summation = 2 + 2
print(Summation)

4

In [ ]:
int_1 = 2
int_2 = 2
Summation = int_1 + int_2
print(Summation)

4

In [ ]:
print(2 + 2)

4

In [ ]:
difference_two_int = 2-2
print(difference_two_int)

0

In [ ]:
int_1 = 3
int_2 = 3
difference_two_int = int_1 - int_2
print(difference_two_int)

0

In [ ]:
print(3 - 3)

0

In [ ]:
product = 2 * 3
print(product)

6

In [ ]:
quotient = 12 / 4
print(quotient)

3.0

In [ ]:
num_1 = 12
num_2 = 4
quotient = num_1 / num_2
print(quotient)

3.0

In [ ]:
print(12 / 4)

3.0

In [ ]:
floor_division = 12 // 4
print(floor_division)

3

In [ ]:
x = 12
m = 4
b = 10
y = m * x + b
print(y)

58

In [ ]:
x1,x2,x3,x4 = 2,4,6,8
m1,m2,m3,m4 = 1,3,5,7
b = 15

y = (m1*x1)*(m2*x2)*(m3*x3)*(m4*x4)+b
print(y)

40335

#VARIABLES NAME LEGAL & ILLEGAL

In [ ]:
# as a key keyword  var name illegal
and = 'this is keyword'
print(and)

if = "not allowed"
print(if)

False = "0"
print(False)

class = "my class number is A01"
print(class)

del = "my id is deleted"
print(del)

elif = "this is keyword"
print(elif)

True = "this is keyword"
print(True)

SyntaxError: invalid syntax (ipython-input-131611749.py, line 2)

In [ ]:
old_weight = '70' #legal var name
weight_1 = '80' #legal var name
1_weight = '80' #illegal var name
_weight = '80' #legal var name
_1 = '80' #legal var name

#MATH EXPRESSION : UNFAMILIAR OPERATORS

In [ ]:
age = 20
age += 3  #augment statement
print(age)

In [ ]:
age = 25
age -= 2 #augment statement
print(age)

23

In [ ]:
age = 23
age /= 2 #augment statement
print(age)

11.5

In [ ]:
age = 23
age //= 2 #augment statement
print(age)

11

In [ ]:
age = 23
age *= 1 #augment statement
print(age)

23

In [ ]:
age_1 = 23
age_2 = 2
age_1 /= age_2
print(age)

23

#LOGICAL OPERATORS

In [ ]:
# and
a = 20
b = 30
print(a > b and a < b)

# or
print(a > b or a < b)

# not
print(not a > b)
print(not a == b)

False
True
True
True

#CONCATENATING TEXT STRING

In [ ]:
print("HELLO" + "PROGRAMMERS")

HELLOPROGRAMMERS

In [ ]:
# method 1
f_name = "QASIM"
l_name = "Hassan"
full_name = f_name +' '+ l_name
print(full_name)

# method 2 f str
f_name = "Qasim"
l_name = "hassan"
full_name = f"{f_name} {l_name}"
print(full_name)

# method 3
"this is a class of {0} {1}".format("sylani","batch_1")

QASIM Hassan
Qasim hassan

'this is a class of sylani batch_1'

#user input

In [ ]:
f_name = input("Enter your first name")
l_name = input("Enter your last name")
m_name = input("Enter your middle name")

print(f_name)
print(l_name)
print(m_name)

Enter your first nameshaikh
Enter your last namesaad
Enter your middle namepasha
shaikh
saad
pasha

#CONDITIONAL STATEMENT

In [ ]:
# if elif else
eid = False

if eid:
  print("tomorrow is holiday")
else:
  print("tomorrow is working day")

tomorrow is working day

In [ ]:
studant_result = True

if studant_result:
  print("PASS")
else:
  print("FALSE")

PASS

In [ ]:
studant_result = input("ENTER YOUR STATUS:")

if studant_result:
  print("ELIGIBLE")
else:
  print("NOT ELLIGIBLE")

ENTER YOUR STATUS:Pass
ELIGIBLE

In [ ]:
marks = float(input("enter your marks:"))

if marks == 90.00:
  print("your grade is A+")
elif marks == 80.00:
  print("your grade is A")
elif marks == 70.00:
  print("your grade is B")
elif marks == 60.00:
  print("your grade is C")
else:
  print("your grade is D")

enter your marks:60.00
your grade is C

#NESTED  if else

#TASK

In [ ]:
user_age = int(input("ENTER YOUR AGE:"))

if user_age >= 18:
  print("you are eligible")
  if user_age <= 17:
    print("you are not eligible")

else:
  print("not eligible")

In [ ]:
num = int(input("ENTER YOR NUMBER"))

if num%2 == 0:
  print("even")

else:
  print("odd")

In [ ]:
# A School has  following rules for PASS,FAIL system
enter_marks = int(input("Enter your marks:"))

if (enter_marks < 30  and enter_marks >= 0):
  print("your status is fail")
else:
  print("PASS")

Enter your marks:31
PASS

In [ ]:
independent_var_1 = 90
slop = 8
intercept = 0.001

dependent_var_1 = slop * independent_var_1
dependent_var =  dependent_var_1 + intercept  # output = 720.001

if (dependent_var != dependent_var_1 + intercept):
    print(False)

    if (dependent_var == (dependent_var_1 + intercept)):
      print(True)

else:
  print("ABSOLUTELY WRONG...")

ABSOLUTELY WRONG...

#STRING METHODS
###strings are immutable

In [ ]:
str = "Qasim Hassan"
print(str)

Qasim Hassan

In [ ]:
#str case conversion methods
print(str.upper())
print(str.lower())

QASIM HASSAN
qasim hassan

In [ ]:
var = '  hello hy  '
var

'  hello hy  '

In [ ]:
# strip method
var.strip() # Removing whitespace (left right OR start end)

'hello hy'

In [ ]:
# string trailing strip method
var.rstrip()#(right/end) side whitespace removed

'  hello hy'

In [ ]:
# string  leading strip method
var.lstrip() #(left/start) side sy whitespace removed

'hello hy  '

In [ ]:
# strip with cheracter
field = 'ACCA'    #str as a palindrome words choose krna ha strip with character method main
Eleminate1 = field.strip('A')
Eleminate1

'CC'

In [ ]:
Eleminate2 = Eleminate1.strip('C')
Eleminate2

''

In [ ]:
Eleminate2.strip('')

''

In [ ]:
defence = 'RADAR'
defence.strip('R')

'ADA'

In [ ]:
# strip() with combination of characters
s = 'www.example.com'
print(s.strip('wcmoepl.'))

xa

In [ ]:
# removeprefix()  method
str_words = 'python   programmers' #remove_starting_word
str_words.removeprefix('python')

'   programmers'

In [ ]:
# 6. removesuffix() method
words_str = 'pyhton  programmers' #remove_ending_word
words_str.removesuffix('programmers')

'pyhton  '

In [ ]:
# 7. replace() method
TextString = 'TEXT STR TEXT'
print(TextString.replace('TEXT','WORD'))
print(TextString.replace('STR','str'))
print(TextString.replace(' ','_'))
print(TextString.replace('','_'))

WORD STR WORD
TEXT str TEXT
TEXT_STR_TEXT
_T_E_X_T_ _S_T_R_ _T_E_X_T_

In [ ]:
# 8. find()
print('index =',TextString.find('STR'))
print('index =',TextString.find('R'))

index = 5
index = 7

In [ ]:
# 9. isalnum()  alphanumericstring means A to Z, a to z, 0 to 9

TextString1 = 'Welcome'  #alpha numeric str
print(TextString1.isalnum())

TextString2 = 'WELCOME'  #alpha numeric str
print(TextString2.isalnum())

num_str = '1001'  #alpha numeric str
print(num_str.isalnum())

num_str = '3.14'  # not alphanumericstring
print(num_str.isalnum())

True
True
True
False

In [ ]:
# 10. isalpha()
TextString2 = 'WELCOME' # ALL STRING CHARACTERS ARE CAPITAL
print(TextString2.isalpha())

TextString3 = 'Welcome'
print(TextString3.isalpha())

True
True

# 10 Useful String Methods in Python

In [ ]:
# 1. center( )
# syntax ---> str.center(length , fillchar)
text_str = 'Artificial Intelligence'
print(text_str.center(30 , '#'))

###Artificial Intelligence####

In [ ]:
# 2. len()
my_text_str = 'Artificial Intelligence'
print(len(my_text_str))

23

In [ ]:
# 3. upper()
print(my_text_str.upper())

ARTIFICIAL INTELLIGENCE

In [ ]:
# 4. lower()
my_text_str.lower()

'artificial intelligence'

In [ ]:
# 5. lstrip()  leading strip method
my_text_str_1 = '!!!!!hello'  #(left/starting) side pr work krta ha ye method
print(my_text_str_1.lstrip('!'))

hello

In [ ]:
# 6. rstrip() trailing strip method
my_text_str_1.rstrip('lo') #(right/end) side pr work krta ha ye method

'!!!!!he'

In [ ]:
# 7. strip()
my_text_str_2 = '  madam  '
my_text_str_2.strip(' ') #start or end pr work kre ga

'madam'

In [ ]:
my_text_str_2 = 'Madam'
print(my_text_str_2.strip('M'))

adam

In [ ]:
print(my_text_str_2.strip('m'))

Mada

In [ ]:
my_text_str_2 = 'MadaM'
print(my_text_str_2.strip('M'))

ada

In [ ]:
# 6. replace()
name = '!!!john!!!'
print(name.replace('john','sam altman'))

print(name) #ab name main koe change nahi q k old str main koe change
            # nahi q k actual ki copy sam altman thi but actual str main koe change nahi

!!!sam altman!!!
!!!john!!!

In [ ]:
# 7. capitalize()
language = 'r programming'
print(language.capitalize())

R programming

In [ ]:
# 8. center()
Reliability = 'iphone'
print(Reliability.center(10,'#'))
print(len(Reliability.center(10 , '#')))

# actual str main change nahi
print(Reliability)
print(len(Reliability))

##iphone##
10
iphone
6

In [ ]:
# 9. count()
Reliability.count('h')

1

In [ ]:
# 10. endwith()
str1 = 'this is string @@@'
print(str1.endswith('@'))

print(str1.endswith('ng',3,14))

True
True

##CONCATENATING TEXT STRING
####There are three methods

In [ ]:
# mrthod_1: using + operator
f_name = 'ALI'
l_name = 'MUHAMMAD'
print(f_name + l_name) #without space
# OR
print(f_name +' '+ l_name) #with space

# method_2: f"str"
print(f"{f_name} {l_name}")  #with space
print(f"{f_name}{l_name}") #without space


# method_3:
# "{index pass} {index pass}".format("", "")
print("this is method {0} {1}".format("number", "three")) #with space
print("this is method {}{}".format("number", "three")) #without space

In [ ]:
var1_for_str = "pyhton_is_a_"
var2_for_str = "heart_of_"
var3_for_str = "Artificial_Intelligence----"

# method 1: using + opertor
print("pyhton_is_a_" + "heart_of_" + "Artificial_Intelligence----")
print("pyhton_is_a" +' '+ "heart_of" +' '+ "Artificial_Intelligence----")

# method 2: f"{} {} ....{n}"
print(f'{var1_for_str}{var2_for_str}{var3_for_str}')
print(f'{var1_for_str} {var2_for_str} {var3_for_str}')

# method 3: "{index_1} {index_2}....{index_n}".format("str_1", "str_2",.....,"str_n")
print("{0}{1}{2}".format("pyhton_is_a_", "heart_of_", "Artificial_Intelligence----"))
print("{2} {0} {1}".format("pyhton_is_a_", "heart_of_", "Artificial_Intelligence----"))

##USER INPUT...

In [ ]:
f_name = input("ENTER_YOUR_FIRST_NAME..")
m_name = input("ENTER_YOUR_MIDDLE_NAME..")
l_name = input("ENTER_YOUR_LAST_NAME..")

print(f"MY_FIRST_NAME_IS = {f_name}")
print(f"MY_MIDDLE_NAME_IS = {m_name}")
print(f"MY_LAST_NAME_IS = {l_name}")

## CONDITIONAL STATEMENT:

####if ,elif, else

In [ ]:
f_name = input("ENTER_YOUR_FIRST_NAME...")

if (f_name == "Hafiz"):
  print("True")

In [ ]:
f_name = input("Enter_your_first_name...")
l_name = input("Enter_your_last_name...")

if (f_name == "shaikh" and l_name == "muhammad"):
  print("True / Yes")
else:
  print("NO...")

In [ ]:
# using if ,else, or
f_name = input("Enter_your_first_name...")
l_name = input("Enter_your_last_name...")

if (f_name == "muhammad" or l_name == "ali"):
  print("1 or 0 = 1 OR 1 or 1")
else:
  print("0 or 0 = 0")

In [ ]:
# using if elif else  and or
f_name = input("Enter_your_first_name...")
l_name = input("Enter_your_last_name...")

if (f_name != "shaikh" or l_name == "pasha"):
  print("True + True = True ..OR.. True + False = True")
elif (f_name == "shaikh" and l_name == "ali"):
  print("True * True = True ..OR.. True * False = False")
else:
  print("soRRy---")

In [ ]:
#using (nested if, elif, else, and, or)
# build weather condition .....prediction tomorrow is rainy day  kitny percent chances ha?
weather = input("TOMORROW_WEATHER_CONDITION...")

if weather == "rainy":
  print('Happy_Rainy_Day')

  probability_rain_expected = int(input("Enter_kitny_percent_probability_ha_barish_k..."))


  if (probability_rain_expected >= 74 and probability_rain_expected <= 99):
    print("please_finished_your_outdoor_work...")
    print("Stay_home stay_save")

  elif (probability_rain_expected<= 0):
    print("See_Clouds")

elif (weather == "sunny" or weather == "normal"):
  print("apni_routine_k_hisaab_sy_life_guzarein.")

else:
  print("High_Tempearture...")

##PEMDAS RULE

In [ ]:
print(((2+4)**2)+12-(10/(2*(2*3))))
print(2*4) #6
print(2+3) #6
print(6**2) #36
print(2*6) #12
print(-10/12) #-0.833
print(36 + 12) #48
print(48 - 0.833)

In [ ]:
name = input("Enter your name...")
print("my name is = ",name)

In [ ]:
f_name = input("enter your first name.. ")
print("{0}".format(f_name))

In [ ]:
f_name = input("Enter your f_name")
m_name = input("Enter your m_name")
l_name = input("Enter your l_name")

print('{0}{1}{2}'.format(f_name, m_name, l_name))
print('{2}{1}{0}'.format(f_name, m_name, l_name))

In [ ]:
# control structure
# conditional statement
m,x,c = 6,10,0.1
y = m*x + c
dependent = 60.1

if dependent >= y:
  print(True)
elif dependent != y:
  print(False)

In [ ]:
m1, m2, m3, x1, x2, x3, b = 10, 9, 8, 3, 7, 12, 0.1
y = m1*x1 * m2*x2 * m3*x3 + b
dependent = y

if (dependent > 100 or dependent < 1000):
  print(True)

elif (dependent != 100 and dependent == 100):
  print(False)

else:
  print(" ------_____------ ")

#LIST

In [ ]:
my_list = [1 , 2 , 3 , 5 , 8]
print(my_list)

In [ ]:
MyList = ['a','c','d','w']
print(MyList)

In [ ]:
multiple_data_type_store = ["PYHTON" , 23, 3.14 , True , {'a':0} , (1,3) , {'a','b','c'}]
print(multiple_data_type_store)
print(type(multiple_data_type_store))

In [ ]:
list = ['apple','banana','orange','kiwi']
list.append('lemon') #list k last main lemon add
print(list)

# Syntax of Python Deepcopy

## copy.deepcopy()

In [ ]:
import copy
a = [[1,2,3] , [81,4,9]] # this is nested list

b = copy.deepcopy(a)# Creating a deep copy of the nested list 'a'

b[0][0] = 9

print(b)

In [ ]:
# Syntax of Python Deepcopy
# copy.deepcopy()

import copy

x = [[3,6,9] , [9,36,80]]
y = copy.deepcopy(x) #create a deep copy of the list 'x'

y[1][2] = 81

print(y)
print(type(y))

In [4]:
import copy

str_var = [['appl','banan','kiw','cherr'] , ['e','n','i','y']]

create_deep_copy = copy.deepcopy(str_var)
create_deep_copy[1][1] = 'a'

print(create_deep_copy,id(create_deep_copy))
print(str_var,id(str_var))

[['appl', 'banan', 'kiw', 'cherr'], ['e', 'a', 'i', 'y']] 138224768988608
[['appl', 'banan', 'kiw', 'cherr'], ['e', 'n', 'i', 'y']] 138224788520384

In [7]:
str_var.insert(0 , 'fruits') #var.insert(index, 'item')
print(str_var)

['fruits', 'B', ['appl', 'banan', 'kiw', 'cherr'], ['e', 'n', 'i', 'y']]